# Database options
#DB_HOST=127.0.0.1
#DB_DATABASE=openipam
#DB_USERNAME=openipam
#DB_PASSWORD=

# other server parameters
# Be sure to set to something long, random, and ugly
#LOCAL_SECRET_KEY=
#RAVEN_DSN=
#DEBUG=False

